arrow>=0.12.1
requests>=2.20.0,<3
black==19.3b0
flake8==3.7.7
google-auth>=1.6.1,<2
google-cloud-storage>=1.10.0,<2
tenacity>=5.0.2,<5.1
PyJWT==1.6.4
git+git://github.com/HumanCellAtlas/metadata-api@release/1.0b20#egg=hca-metadata-api[dss]
six==1.15.0